{% extends "base.html" %}

{% block title %}Invader - {{ city.name }}{% endblock %}

{% block content %}
<div id="breadcrumbs">
	<a href="{% url 'city-list' %}">All cities</a>&nbsp;&gt;&nbsp;
	<a href="{% url 'city-detail' city.slug %}">{{ city.name }}</a>
</div>

<h1>{{ city.name }}</h1>

<div>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'invader-add' %}" method="post">
		{% csrf_token %}
		<input type="text" name="name" value="{{ city.prefix }}" />
		<input type="submit" value="Add to {{ city.name }}!">
	</form>
</div>

{% if city.invader_set.all %}
	<ul>
	{% for invader in city.invader_set.all|dictsort:"name" %}
	<li>
		<a href="{% url 'invader-detail' invader.slug %}"/>{{ invader.name }}</a>
		<a href="{% url 'invader-update' invader.slug %}"/>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
				<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
			</svg>
		</a>
	</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No Invader in this town?!</p>
{% endif %}
{% endblock %}
