{% extends "base.html" %}

{% block title %}Invader - All cities{% endblock %}

{% block content %}

<div id="breadcrumbs">
    <a href="{% url 'index' %}">Home</a>
</div>
<h1>Cities</h1>

<div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'add_city' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" value="Enter city name" />
        <input type="text" name="prefix" value="Enter prefix" />
        <input type="submit" value="Add city!">
    </form>
</div>

{% if city_list %}
<ul>
    {% for c in city_list %}
    <li><a href="{% url 'city_detail' c.slug %}"/>{{ c.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No cities found!</p>
{% endif %}
{% endblock %}
