{% extends "base.html" %}

{% block title %}Invader - {{ city.name }}{% endblock %}

{% block content %}
<div id="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>&nbsp;&gt;&nbsp;
	<a href="{% url 'city_detail' city.slug %}">{{ city.name }}</a>
</div>

<h1>{{ city.name }}</h1>

<div>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'add_invader' city.slug %}" method="post">
		{% csrf_token %}
		<input type="text" name="name" value="{{ city.prefix }}" />
		<input type="submit" value="Add to {{ city.name }}!">
	</form>
</div>

{% if city.invader_set.all %}
	<ul>
	{% for invader in city.invader_set.all|dictsort:"name" %}
	<li><a href="{% url 'invader_detail' invader.slug %}"/>{{ invader.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No Invader in this town?!</p>
{% endif %}
{% endblock %}
